<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Nome: <%= @entry[:first_name]%> <%= @entry[:last_name] %>
    </p>
    <p>
      E-mail: <%= @entry[:email] %>
    </p>
    <p>
      Telefone: <%= @entry[:phone] %>
    </p>
    <p>
      <%= @entry[:body] %>
    </p>
  </body>
</html>
